{% extends 'proGizeUserManagementBundle:Account:Account.html.twig' %}

{% block wrap_register %}

	<div id="wrap_register" style="display:block">
		<div id="_corner1" style="display:block"></div>
		<div id="_corner2" style="display:block"></div>

{% endblock %}