<!DOCTYPE HTML>
<html>
<head>
{% block head %}
	{% block title %}
		<title>Welcome to proGize!</title>
	{% endblock %}

	{% block scripts %}

		<script src={{ asset('bundles/progizewelcome/js/jquery-1.9.1.min.js') }} ></script>

	{% endblock %}

	{% block styles %}
		<link href="{{ asset('bundles/progizewelcome/css/reset.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('bundles/progizewelcome/css/default.css') }}" rel="stylesheet" type="text/css" />
	{% endblock %}

	{% block fonts %}
		<link href='http://fonts.googleapis.com/css?family=Noto+Sans:700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ruda:900' rel='stylesheet' type='text/css'>
	{% endblock %}
{% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>