body {
	font-family: Lucida Grande, Helvetica Neue, Arial, sans-serif; 
	font-size: 0.625em;
	color:#7a7a7a;
}
.text-resize-small {
	font-size: 1em;
}
.text-resize-medium {
	font-size: 1.15em;
}
.text-resize-large {
	font-size: 1.3em;
}
p, .text, label, input {
	font-size: 1.4em;
	line-height: 1.6em;
}
.intext {
	font-size: 1em;
	line-height: 1em;
}
p {
	text-align: justify;
	margin-bottom: 1em;
	margin-top: 1em;
}
h1, h2, h3, h4 {
	font-family: Futura, Arial, sans-serif;
	font-weight: bold;
	color:#7a7a7a;
	line-height: 1.4em;
	margin-bottom: 0.625em;
	margin-top: 1em;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child {
	margin-top: 0em;
}
h1 {
	font-size:3.6em;
}
h2 {
	font-size:2.4em;
}
h3 { 
	font-size:2.1em;
}
h4 {
	font-size:1.8em; 
}
a, a:link,a:visited,a:active {
	cursor: pointer;
	color:#7a7a7a;
	text-decoration:none;
}
a:hover {
	color:#7a7a7a;
	text-decoration: none;
}

li {
	float: left;
}
ul.list li {
	list-style: circle;
	margin-left: 2em;
	float: none;
}
ul.noliststyle li {
	list-style: none;
	margin-left: 0;
}
ul.list li.indent-level-2 {
	margin-left: 4em;
}

.clear {clear: both;}
.hidden {display: none;}
.center {margin: 0px auto;}
.text-center {position: absolute; top: 50%; margin-top: -0.5em; width: 100%; text-align: center;}
.right {float: right;}
.left {float: left;}
.small {font-size: 0.75em;}
.content-center {text-align: center!important;}
.content-right {text-align: right!important;}
.content-left {text-align: left!important;}
.nomargin-top{margin-top: 0px!important;}
.nomargin-bottom{margin-bottom: 0px!important;}
.nomargin-left{margin-left: 0px!important;}
.nomargin-right{margin-right: 0px!important;}
.nomargin {margin: 0px!important;}
i, .italic {font-style: italic;}
b, .bold {font-weight: bold;}
strong, .strong {font-weight: bold;}
.fullwidth {width: 100%;}
.justify {text-align: justify!important;}
.relative { position: relative; }
.pointer { cursor: pointer; }