body {
	background-color: #39312D;
}

p, li {
	font-family: 'Noto Sans', sans-serif;
	color: #DBC2B6;
}

h1,h2,h4,h5,h6 {
	font-family: 'Ruda', sans-serif;
}

label {
	font-family: 'Noto Sans', sans-serif;
	color: #DBC2B6;	

	display: block;
}

input[type=text], input[type=password] {
	font-family: 'Noto Sans', sans-serif;
}

input[type=button], input[type=submit] {
	cursor: pointer;
}

.logo {
	width: 470px;
	height: 152px;

	background-image:url('../images/logo.png');
}

.button {
	padding: 7px;

	font-family: 'Noto Sans', sans-serif;

	color: #fff;

	border: none;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	background-color: #39312D;
}