@color_bg: #f9f2e7;
@color_hlmain_dark: #00abc6;
@color_hlmain_light: #40c0cb;
@color_hlscnd_dark: #8fbe00;
@color_hlscnd_light: #aee239;

body {
	background-color: @color_bg;
}

.hlmain_dark {
	background-color: @color_hlmain_dark;
}
.hlmain_light {
	background-color: @color_hlmain_light;
}
.hlscnd_dark {
	background-color: @color_hlscnd_dark;
}
.hlscnd_light {
	background-color: @color_hlscnd_light;
}

.color_test_container {
	width: 200px;
	height: 200px;
	float: left;
}