/* Include Reset & General Files */
@import url("http://www.viwid.com/config/reset.css");
@import url("http://www.viwid.com/config/general.css");

/* !--- Colors --- */
@color_bg: #f9f2e7;
@color_main: #0095D8;
@color_scnd: #00B22B;
@shade_step: 4.5%;
.shaded_color(@color_to_shade, @shade_steps) {
	@shaded_color: lighten(@color_to_shade, @shade_steps*@shade_step);
}
.color_main_0 {
		.shaded_color(@color_main, 0);
		background-color: @shaded_color;
		color: @color_bg;
}
.color_main_1 {
		.shaded_color(@color_main, 1);
		background-color: @shaded_color;
		color: @color_bg;
}
.color_main_2 {
		.shaded_color(@color_main, 2);
		background-color: @shaded_color;
		color: @color_bg;
}
.color_main_3 {
		.shaded_color(@color_main, 3);
		background-color: @shaded_color;
		color: @color_bg;
}
.color_scnd_0 {
		.shaded_color(@color_scnd, 0);
		background-color: @shaded_color;
		color: @color_bg;
}
.color_scnd_1 {
		.shaded_color(@color_scnd, 1);
		background-color: @shaded_color;
		color: @color_bg;
}
.color_scnd_2 {
		.shaded_color(@color_scnd, 2);
		background-color: @shaded_color;
		color: @color_bg;
}
.color_scnd_3 {
		.shaded_color(@color_scnd, 3);
		background-color: @shaded_color;
		color: @color_bg;
}

/* !--- Global --- */
body {
	background-color: @color_bg;
	height: 100%;
}

/* !--- Structure --- */

#welcome_container {
	margin: 2em auto;
	width: 80em;
	height: 100%;
	#welcome_info_container {
		float: left;
		width: 60%;
		#welcome_item_branding {
			height: 20em;
		}
	}
	#login_container {
		float: left;
		width: 40%;
		height: 100%;
		.color_scnd_3;
		.head_item {
			height: 4em;
			.color_scnd_0;
		}
		.form_item {
			min-height: 2em;
			.color_scnd_1;
		}
	}
}

#header {
	margin-top: 2em;
	height: 20em;
	position: relative;
	overflow: hidden;
}
	#master_nav_container {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 30em;
		height: 100%;
		.item {
			width: 100%;
			position: relative;
			&.i_0 {
				background-color: lighten(@color_main, @shade_step*0);
				height: 60%;
				&:hover {
					background-color: lighten(@color_main, @shade_step*-2);
				}
			}
			&.i_1 {
				background-color: lighten(@color_main, @shade_step*1);
				height: 30%;
				&:hover {
					background-color: lighten(@color_main, @shade_step*-1);
				}
			}
			&.i_2 {
				background-color: lighten(@color_main, @shade_step*2);
				height: 10%;
			}
			.item_text {
				position: absolute;
				top: 50%;
				margin-top: -0.5em;	
				width: 100%;
				text-align: center;
				color: @color_bg;
				font-weight: bold;
			}
			&.i_0 .item_text {
				font-size: 5em;
			}
			&.i_1 .item_text {
				font-size: 2em;
			}

		}
	}
	
	#master_tiles_container {
		position: absolute;
		left: 30em+2em;
		width: 100%;
		height: 100%;
		overflow: hidden;
		.project_tile {
			width: 20em;
			height: 100%;
			float: left;
			&.i_0 {
				background-color: lighten(@color_scnd, @shade_step*0);
				&:hover {
					background-color: lighten(@color_scnd, @shade_step*-2);
				}
			}
			&.i_1 {
				background-color: lighten(@color_scnd, @shade_step*1);
				&:hover {
					background-color: lighten(@color_scnd, @shade_step*-1);
				}
			}
			&.i_2 {
				background-color: lighten(@color_scnd, @shade_step*2);
				&:hover {
					background-color: lighten(@color_scnd, @shade_step*0);
				}
			}
			&.i_3 {
				background-color: lighten(@color_scnd, @shade_step*3);
				&:hover {
					background-color: lighten(@color_scnd, @shade_step*1);
				}
			}
			&.i_4 {
				background-color: lighten(@color_scnd, @shade_step*4);
				&:hover {
					background-color: lighten(@color_scnd, @shade_step*2);
				}
			}
			&.i_5 {
				background-color: lighten(@color_scnd, @shade_step*5);
				&:hover {
					background-color: lighten(@color_scnd, @shade_step*3);
				}
			}
			&.i_6 {
				background-color: lighten(@color_scnd, @shade_step*6);
				&:hover {
					background-color: lighten(@color_scnd, @shade_step*4);
				}
			}
		}
	}